* {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

span {
    font-weight: bold;
    color: rgb(196, 54, 170) 0, 139;
}

p {
    line-height: 25px;
    text-align: center;
}

h2 {
    padding: 20px;
    text-align: center;
    color: rgb(108, 27, 62);
}


.container {
    margin: 20px auto;
    text-align: left;
    width: 60%;
}

form {
    background-color: rgb(154, 103, 117);
    border-radius: 10px;
    box-shadow: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
}

form label:hover {
    cursor: pointer;
}

.btn {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 0;
    background-color: rgb(125, 80, 106)0;
    color: rgb(235, 206, 235);
    width: 15%;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(179, 116, 174);
    transform: scale(0.98);
}


form input,
form select {
    padding: 10px;
    margin: 10px;
    width: 60%;
    border: 0;
    border-radius: 2px;
}

.input-group {
    display: flex;
    margin-left: 30px;
    align-items: center;
    justify-content: space-between;
}